.detalhes-evento {
    box-shadow:0px 0px 5px; 
    /* padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 60px; */
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.form-convidado {
    box-shadow:0px 0px 5px;
    padding: 15px;
    margin-bottom: 50px;
}

.cabecalhos-texto {
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: bolder;
}

.tabela-convidados {
    width: 50%;
}

.form-eventos {
    box-shadow:0px 0px 5px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.button-text {
    color: #009688 ;
}

.button-color {
    background-color:white ;
}

.button-color:hover {
    background-color: #b2dfdb ;
}

.texto-da-nav {
    padding-left: 20px;
}

.icone-acao {
  display: flex;
  justify-content: center;
  align-items: center;

}

