<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style>
        body {
            background-color: rgb(44, 6, 121);
        }

        h1 {
            /* font-size: 24px;
            font-weight: bold;
            text-align: center; */
            color:aliceblue;
        }
    </style> -->
    <title>Index</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <h3><a href="/cadastro-eventos">Cadastrar Eventos</a></h3>

    <div th:each="evento : ${eventos}">
        <div class="row">
            <p><span th:text="${evento.nome}"></span></p>
            <p><span th:text="${evento.local}"></span></p>
            <p><span th:text="${evento.data}"></span></p>
            <p><span th:text="${evento.horario}"></span></p>
        </div>
    </div>
</body>
</html>